[MailProcessor]
sender = 
text.exclude =
photo.exclude = 

[Imap]
server = 
port = 
username = 
password = 

[OAuth]
blog_name = 
consumer_key = 
consumer_secret = 
access_token = 
access_token_secret = 
